* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFC14D;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;

}


h1{
    
    color: #FF5900;
    font-family: "Courgette", cursive;
    text-decoration: wavy;
    font-weight: 600;
    text-decoration: wavy;
    display: flex;
    justify-content: center;
    background-color: #FFC14D;
    margin: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 5rem;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    
  
}

.eloado{
    
    margin: 0%;
    padding-bottom: 5%;
}




h2{
    
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    padding: 5%;
}
.info{
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    
}
.info p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
}

.info img{
    max-width: 40%;
    max-height: 550px;
    border-radius: 25px;
}


.socialIcons{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  1%;
    background-color: var(--iconback-color);
    margin: 1%;
    border-radius: 30%;
}
.socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: var(--iconhov-color);
    transition: 0.5s;
}

.eloado:nth-child(even) {
    background-color: #FFC14D;
    --iconback-color: #FFC14D;
    --iconhov-color: #FFC14D;
}

.eloado:nth-child(odd) {
    background-color: #25B7E8;
    --iconback-color: #25B7E8;
    --iconhov-color: #25B7E8;
}









@media (max-width: 800px) {

    .info p{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        font-size: 1rem;
    }

    .info{
        flex-direction: column;
    }

    .info img{
        max-width: 60%;
        border-radius: 25px;
    }
    h1{
        padding-top: 15%;
    }
    
}